.app {
  height: 100%;
  background-color: rgb(7, 6, 6);
  color: white;
}

.cardDisplay {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.text {
  display: grid;
  place-items: center;
}
