.card {
  max-width: 300px;
  background-color: rgb(12, 1, 1);
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgba(161, 158, 158, 0.897) 0px 4px 16px,
    rgba(17, 17, 19, 0.651) 0px 8px 2px;
  transition: all 700ms;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: rgba(124, 30, 30, 0.726) 0px 0px 16px,
    rgba(82, 46, 46, 0.918) 0px 3px 6px;
}
.card img {
  max-width: 300px;

  object-fit: contain;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download {
  display: flex;
  align-items: center;
}
.likes {
  display: flex;
}
.tags {
  margin-top: 10px;
  display: flex;
}
.tag {
  background-color: rgb(21, 54, 83);
  padding: 5px;
  border-radius: 999px;
  border: 3px solid rgb(230, 227, 227);
  box-shadow: rgba(243, 238, 238, 0.801) 0px 2px 15px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 700ms;
  margin: 5px;
  text-align: center;
}
.tag:hover {
  transform: scale(1.03);
}

/* @media only screen and (max-width: 500px) {
  .card {
    
    
    
  }
} */
